.logo {
  max-width: 15rem;
}

.bg-red,
.bg-red-hov:hover,
.bg-red-hov:focus,
.bg-red-hov:active {
  background-color: #c1272d;
}

.border-red,
.border-red-hov:hover,
.border-red-hov:active,
.border-red-hov:focus {
  border-color: #c1272d;
}

.text-red,
.text-red-hov:hover,
.text-red-hov:active,
.text-red-hov:focus {
  color: #c1272d;
}

.btn-white {
  border-color: #fff;
  background-color: #fff;
  color: #333;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  border-color: #c1272d;
  background-color: #c1272d;
  color: #fff;
}

.btn-white-to-ghost {
  border-color: #fff;
  background-color: #fff;
  color: #c1272d;
}

.btn-white-to-ghost:hover,
.btn-white-to-ghost:focus,
.btn-white-to-ghost:active {
  border-color: #fff;
  background-color: #c1272d;
  color: #fff;
}

.btn-white-dg {
  border-color: #fff;
  background-color: #fff;
  color: #c1272d;
}

.btn-white-dg:hover,
.btn-white-dg:focus,
.btn-white-dg:active {
  border-color: #333;
  background-color: #333;
  color: #fff;
}

.btn-dg {
  border-color: #333;
  background-color: #333;
  color: #fff;
}

.btn-dg:hover,
.btn-dg:focus,
.btn-dg:active {
  border-color: #c1272d;
  background-color: #c1272d;
  color: #fff;
}

.btn-red {
  border-color: #c1272d;
  background-color: #c1272d;
  color: #fff;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active {
  border-color: #333;
  background-color: #333;
  color: #fff;
}

.btn-red-ghost {
  border-color: #c1272d;
  background-color: #fff;
  color: #c1272d;
}

.btn-red-ghost:hover,
.btn-red-ghost:focus,
.btn-red-ghost:active {
  border-color: #c1272d;
  background-color: #c1272d;
  color: #fff;
}

.scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer-img {
  text-align: center;
}

.embed-form {
  padding-top: 202.3309%;
}

@media only screen and (min-width: 38em) {

  .footer-img {
    text-align: right;
  }

  .footer-img img {
    width: 50%;
  }

}
